.detalle-asignatura {
    width: 350px;
    height: 55%;
    /*height: 405.6px;*/
    margin-left: 25px;
    margin-bottom: 10px;
    border: solid 3px #009879;
}

.detalle-asignatura h2 {
    background-color: #009879;
    color: white;
    text-align: center;
    font-size: 22px;
}

.ul-detalle {
    list-style: none;
}

.detalle-llave {
    text-align: left;
    padding-left: 5px;
}

.li-detalle {
    text-align: right;
    padding-right: 5px;
    margin-bottom: 10px;
}

.ul-detalle li:nth-last-of-type(even) {
    background-color: #f3f3f3;
}