.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70px;
	background: #009879;
	font-size: 1.2rem;
	margin-bottom: 10px;
}

.navbar-logo {
	background-color: #009879;
	color: #fff;
	justify-self: start;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
	display: flex;
	align-items: center;
  }

.nav-menu {
	display: flex;
	justify-content: space-around;
	list-style: none;
	align-items: center;
	text-align: center;
	width: 20%;
	justify-content: right;
  }

.nav-item {
	height: 60px;
}

.nav-links {
	background-color: #009879;
    color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0.5rem 1rem;
	height: 100%;
}


.nav-links:hover {
	border-bottom: 4px solid #fff;
	transition: all 0.2s ease-out;
}

.fa-university:before {
    content: "\f19c";
}